@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200;300;400;500&display=swap');

* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-weight: 400;
    height: 100vh;
    font-family: 'Anek Devanagari', sans-serif;
}

/* =============================================================================================================
=====================================================NAV BAR WITH HEADER SECTION ============================================*/

.title {
    font-weight: 400;
    font-size: 1rem;
    text-shadow: 2px 1px #fff,
                4px 2px hsl(0, 7%, 19%);
    letter-spacing: 1px;
}

.container {
    /* margin: 0rem 2rem; */
    display: grid;
    grid-template-areas: "nav nav nav nav nav"
                        "main main main main main"
                        "sec sec sec sec sec"
                        "footer footer footer footer footer";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}
/* navbar area  */
.nav {
    grid-area: nav;
    background-color: aliceblue;
    /* background-color: #b7317f;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.875rem 4rem;
}

/* search box area */
.form {
    position: relative;
}

/* search icon */
.form .img {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 5px;
    left: 6px;
}

.form input[type="searchbox"] {
    padding: 0.875rem;
    outline: none;
    border: none;
    width: 20rem;
    border-top-left-radius: 0.875rem;
    border-bottom-left-radius: 0.875rem;
}

.form input[type="searchbox"]::placeholder {
    padding-left: 3rem;
}

.form input[type="searchbox"]:focus {
    border: 1px solid #ccc;
}
/* button for search form */
.form button {
    padding: 0.9rem;
    outline: none;
    border: none;
    color: #fff;
    background-color: #020200;
    position: absolute;
    border-top-right-radius: 0.875rem;
    border-bottom-right-radius: 0.875rem;
    width: 6rem;
}
/* top nav ul */
.navbar ul {
    list-style-type: none;
    /* display: flex; */
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    color: #b7317f;
    display: block;
    padding: 0.75rem 1rem;
}

/* .navbar ul li a:visited {
    color: rgb(0, 255, 42);
} */

.navbar ul li a:hover {
    color: rgb(115, 145, 145);
    background-color: rgb(58, 73, 68);
    box-shadow: 2px 2px 6px 2px #220012;
    border-radius: 0.75rem;
    transform: translate3d(23, 45, 35);
    transition: 1s;
}

.navbar ul li a:active {
    color: rgb(43, 0, 255);
}

/* =========================================================================================================
=============================================================showcase container ========================================================*/
/* animate divs in show case container */
@keyframes box {
    0% {
        top: 0px;
        left: 0px;
    }

    50% {
        top: 100px;
        left: 0px;
        background-color: #32dc6d;
    }

    100% {
        top: 0px;
        left: 150px;
        background-color: #e19e74;
        width: 10rem;
        height: 10rem;
        border-radius: 0.5rem;
    }
}

@keyframes box1 {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: -100px;
        left: 0px;
        background-color: #fafbfa;
        width: 6rem;
        height: 6rem;
    }

    50% {
        top: -100px;
        left: 100px;
        background-color: #fafbfa;
    }

    100% {
        top: 0px;
        left: 200px;
        background-color: aliceblue;
        width: 8rem;
        height: 8rem;
    }
}


.main {
    grid-area: main;
    background-color: rgb(56, 83, 83);
    padding: 5rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

/* tower image on the showcase  */
.head_image .img {
    width: 25rem;
}

/* animated div */
.head_box {
    width: 15rem;
    height: 10rem;
    background-color: #b7317f;
    animation: box 4s linear 1s forwards;
    position: relative;
}

/* animated div */
.head_box1 {
    width: 10rem;
    height: 10rem;
    background-color: #90de1b;
    animation: box1 4s linear forwards;
    position: relative;
    border-radius: 100%;
    margin: 1rem;
}



/* contains all showcase texts */
.main_head {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* bold showcase text div */
.head {
    /* margin: 0rem 0rem 1rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head h2 {
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 400;
}
/* div with wow text */
.watch {
    display: flex;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 2px;
    align-items: center;
    color: #e19e74;
}

/* transition wow on hover */
.watch:hover p:nth-child(even) {
	transform: rotateY(360deg);
	transition: 0.5s;
}

/* Add rules for steps 10 and 11 */
.watch:hover p:nth-child(odd) {
	transform: rotateX(360deg);
	transition: 1.5s;
}

/* div with button on showcase section */
.sub_head {
    font-weight: 400;
    font-size: 1rem;
    width: 50%;
}
/* space betwen p text and hr line */
.sub_head p {
    padding-top: 2rem;
}
/* view more button */
.sub_head button {
    outline: none;
    border: none;
    padding: 1rem 2rem;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
    border-radius: 0.75rem;
}

.sub_head button:hover {
    background-color: #b7317f;
    color: #fff;
    transform: translate(0.98);
    transition: 1000ms linear 5ms;
    cursor: pointer;
}
/* horizontal line */
.hr1 {
    border: 1px solid #ccc;
}

/* ===========================================================================================================
======================================================SECTION ============================================================ */
.sec {
    grid-area: sec;
    display: grid;
    grid-template-areas: "section section section section section1"
                        "main1 main1 main2 main2 section1"
                        "main3 main4 main5 main6 ."
                        "card1 card2 card3 card4 ."
                        "tile1 tile1 tile1 tile2 ."
                        "main7 main8 main9 main10 ."
                        "card5 card6 card7 card8 ."
                        "main11 main12 main13 main14 ."
                        "card9 card10 card11 card12 ."; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 4rem 1rem;
    padding: 4rem;
    background-color: aliceblue;
}

.main1, .main2, .main3, .main4, .main5, .main6, .card1, .card2, .card3, .card4, 
.main7, .main8, .main9, .main10, .main11, .main12, .main13, .main14, .card5, .card6, .card7, .card8,
.card9, .card10, .card11, .card12  {
    border-radius: 0.5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

.banner:first-of-type:hover, .main1:hover, .main2:hover, .main3:hover, .main4:hover, .main5:hover, .main6:hover, .card1:hover, 
.card2:hover, .card3:hover, .card4:hover, .main7:hover, .main8:hover, .main9:hover, .main10:hover, .main11:hover, 
.main12:hover, .main13:hover, .main14:hover, .card5:hover, .card6:hover, .card7:hover, .card8:hover,
.card9:hover, .card10:hover, .card11:hover, .card12:hover, .tile1:hover, .ver_card:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    opacity: 0.92;
    transform: translate(.98);
    transition: box-shadow 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

/* general p styling */
.sec p {
    text-align: center;
    font-weight: 400;
    padding: 0.2rem 0rem;
}

/* all anchor tags inside the sec container */
.sec a {
    text-decoration: none;
    color: #b7317f;
}
/* all hover in sec container */
.sec a:hover {
    color: rgb(115, 145, 145);
}

/* =========================================================================================================
================================================== SECTION ============================================================ */
/* the biggest image section */
.section {
    grid-area: section;
    display: flex;
    /* gap: 2rem; */
}

.section p {
    padding: 0.2rem 0rem;
}

/* div with the big image */
.banner:first-of-type {
    flex: 2;
    text-align: center;
    font-weight: 400;
}

/* div with image and text  */
.banner:last-of-type {
    flex: 1;
    text-align: center;
    padding: 2rem;
    /* align-self: center; */
}

.banner:last-of-type p {
    padding: 1rem 0rem;
}

/* inner div with background color */
.button {
    background-color: rgb(56, 83, 83);
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-weight: 400;
}

.button a {
    color: #e19e74;
}

/* ===============================================================
========================================================aside contents =============================================*/
.section1 {
    grid-area: section1;
    padding: 2rem;
}
/* social icons */
/* .aside_images {
    border-bottom: #e19e74 solid 1px;
} */

.aside_images img {
    width: 1rem;
    margin: 0rem 0.5rem 1rem 0.8rem;
}

/* list items */
.aside_list {
    text-align: center;
}

.aside_list ul {
    list-style-type: none;
}

.aside_list ul li {
    border-bottom: #ecc solid 1px;
}

.aside_list ul li a {
    text-decoration: none;
    color: #b7317f;
    display: block;
    padding: 0.5rem 0rem;
}

.aside_list ul li a:hover {
    color: rgb(115, 145, 145);
}

/* spacing font awesome angle icons */
.aside_list .fa {
    padding: 0rem 0.8rem;
}

.main1 {
    grid-area: main1;  
}

.main2 {
    grid-area: main2;
}
/* ===================================================================================
===================================================================================== */
/* first four cards */
.main3 {
    grid-area: main3;
    background-color: aliceblue;
}

.main4 {
    grid-area: main4;
    background-color: aliceblue;
}

.main5 {
    grid-area: main5;
    background-color: aliceblue;
}

.main6 {
    grid-area: main6;
    background-color: aliceblue;
}

.img_tiles {
    width: 100%;
}

/* ======================================================================================================
=================================================================================================== */
/* second four cards */
.card1 {
    grid-area: card1;
    background-color: aliceblue;
}

.card2 {
    grid-area: card2;
    background-color: aliceblue;
}

.card3 {
    grid-area: card3;
    background-color: aliceblue;
}

.card4 {
    grid-area: card4;
    background-color: aliceblue;
}

/* ===========================================================================================================
=============================================== TWO TILES ============================================================== */

.tile1 {
    grid-area: tile1;
}

.tile2 {
    grid-area: tile2;
}

/* ==============================================================================
=============================================== ANOTHER FOUR DIVS ================================================================== */

.main7 {
    grid-area: main7;
}

.main8 {
    grid-area: main8;
}

.main9 {
    grid-area: main9;
}

.main10 {
    grid-area: main10;
}

/* ======================================================================================================
=================================================================================================== */
/* YET ANOTHER FOUR DIVS */
.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6; 
}

.card7 {
    grid-area: card7;
}

.card8 {
    grid-area: card8;
}

/* ==============================================================================
=============================================== ANOTHER FOUR DIVS (2) ================================================================== */

.main11 {
    grid-area: main11;
}

.main12 {
    grid-area: main12;
}

.main13 {
    grid-area: main13;
}

.main14 {
    grid-area: main14;
}

/* .main14 {
    grid-area: main14;
} */

/* ======================================================================================================
=================================================================================================== */
/* YET ANOTHER FOUR DIVS (2) */
.card9 {
    grid-area: card9;
}

.card10 {
    grid-area: card10; 
}

.card11 {
    grid-area: card11;
}

.card12 {
    grid-area: card12;
}

/* ===================================================================FOOTER SECTION =================================================
=================================================================================================================================== */
/* footer contents */
.footer {
    grid-area: footer;
    color: #fff;
    background-color: rgb(56, 83, 83);
    display: flex;
    flex-direction: column;
    /* padding-bottom: 1rem; */
}

/* ist row of footer contents */
.footer1 {
    display: flex;
    padding: 3rem;
}

/* image inside the footer section */
.footer_img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}

/* set the contents of the 1st row of footer1 to column*/
.base {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/* center the list items */
.base:nth-of-type(2) {
    align-items: center;
}

/* div for the list items */
.row1 {
    display: flex;
    gap: 10rem;
    align-items: center;
}
/* space between ist and 2nd rows of list items */
.row2 {
    margin-top: 2rem;
}

/* align the last list items */
.row2 .list:nth-of-type(2) {
    margin-left: 1.8rem;
}

/* list item headers */
.list h3, .base h4 {
    color: #e19e74;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

/* style list items */
.list ul {
    list-style: none;
}

.list ul li {
   padding: 0.2rem 0rem;
}

.list ul li a {
    text-decoration: none;
    color: aliceblue;
}

.list ul li a:hover {
    border-bottom: 1px solid #faebe2;
    color: #d41f89;
    transform: scale(20);
    transition: 500ms;
}

/* privacy policy section */
.footer2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    color: #000;
    padding: 1rem 0rem;
}

.footer2 a {
    text-decoration: none;
    color: #000;
}

.footer2 a:hover {
    color: #d41f89;
}